* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

@media (min-width: 1200px) {
  .container,
  .container-lg {
    max-width: 1140px;
  }
  .bl_product_cont_wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg {
    max-width: 1440px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.container.wide {
  padding-left: 0;
  padding-right: 0;
}

li {
  list-style-type: none;
}

/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 30px;
  border-radius: 20px;
  background: #fff;
  border: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

/* Helper */
.hp_tac {
  text-align: center !important;
}
.hp_taj {
  text-align: justify !important;
}
.hp_bgcWhite {
  background-color: #fff !important;
}
.hp_bgcPrimary {
  background: var(--primary, #f7f6f0);
}
.hp_pr-100 {
  padding-right: 100px;
}
.hp_pl-100 {
  padding-left: 100px;
}
.hp_px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.hp_fz-14_fw-400 {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hp_fz-16_fw-400 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hp_mt-4 {
  margin-top: 4px;
}
.hp_mt-6 {
  margin-top: 6px;
}

/* Responsive in the future */
.row.gap-24 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.row.gap-24 .col-4 {
  width: 33.3333%;
  padding-left: 12px;
  padding-right: 12px;
}

/* Custom slick-slider */
/* Bỏ border wrapper của arrow */
.slick-arrow {
  border: none;
}
/* Sửa lại vị trí arrow giống thiết kế */
.slick-next {
  padding: 10px;
  position: absolute;
  top: 217px;
  right: -2px;
  background-color: transparent;
}

/* Sủa kích thước mũi tên cho đúng thiết kế*/
.slick-next svg {
  width: 25.5px;
  height: 41px;
  display: block;
}

/* Custom khoảng cách giữa các item */
.slick-slide {
  margin: 0 12px;
}
.slick-list {
  margin: 0 -12px;
}

/* Custom theySaid slider */
.theySaid_slider .slick-slide {
  margin: 0 11px;
}
.theySaid_slider .slick-list {
  margin: 0 -11px;
}
.theySaid_slider .slick-next {
  top: 295px;
  padding: 0;
  right: 0;
}
